/* Login  */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.lg{
    background-color: white;
    height: 70vh;
    width: 70%;
    margin: auto;
    box-shadow: 1px 7px 20px hsl(0, 0%, 65%)

}

.lg .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 75%; */
}

.lg .form input{
    width: 100%;
    /* margin: auto; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.lg .form h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

.lg .imgLg{
    width: 100%;
    height:100% ;
    background-image:url('../images/gaming.jpg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.lg p.text{
    font-weight: 500;
}
/* END--LOgin */

/* Sign Up */

.row.SIGN{
    width: 60%;
    border-radius: 25px;
    padding: 1.5rem;
    margin: auto;
    background-color: white;
    box-shadow: 1px 7px 20px hsl(0, 0%, 65%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
input.sign{
    width: 100%;
    /* margin: auto; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}
/* End Sign */

/* test */
.test .card{
    width: 60%;
}
.test .card-footer{
    background-color: white;
}
.card .img{
    position: relative;
}
.card .shop{
    background-color: rgb(250, 207, 207);
    color: white;
    position: absolute;
    top: 49%;
    width: 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    height: 30px;
    left: 80%;
    transition: 1s all;
    font-size: 20px;
}

.test .shop:hover{
    color: red;
    border-radius: 50px;
}



