@media (min-width:1200px) {
  section{
    height: 100vh;
  }
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
:root{
  --black-color : #000000;
  --grey-color: #212529;
  --golden-color : #AD844B;
  --white-color : #ffffff;
  --font-title:'Open Sans', sans-serif;
  --font-p: 'Roboto Slab', serif;
}
  ::selection {
    color: var(--grey-color);
    background: var(--golden-color);
  }
  ::placeholder{
    color: var(--golden-color);
  }
  .offcanvas-body{
    padding: 0;
  }
  .btn-close:focus{
    box-shadow: none;
  }
  textarea{
    resize: none;
}
/* Start Scroll */

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;

}
/* Track */
::-webkit-scrollbar-track {
  background: var(--grey-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--golden-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--golden-color);
}

/* End Scroll */

body{
  background-color: var(--black-color);
}
  /* Colores */
  .white-color{
  color: var(--white-color);
  }
  .gold-color{
    color: var(--golden-color) ;
  }
  .grey-color{
    color: var(--grey-color) ;
  }
  .black-color{
    color: var(--black-color) ;
  }
  /* -------  */
  .title{
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 5em;
    letter-spacing: 5px;
  }

  .titre {
    color: var(--golden-color);
    /* background-color: var(--golden-color); */
  }
  .paragraphe{
    font-family: var(--font-p);
    color: var(--golden-color);
  }
  /* ------------- */
  /* Start Nav */
  nav.navbar  ul.nv li a:hover{
    color: var(--white-color);
    text-decoration: underline var(--golden-color);
  }
  
  nav.navbar .nav-btn div.btn {
    background-color: transparent;
    border-radius: 25px;
    padding: .5rem 1.9rem ;
    color: var(--white-color);
    border: 1px solid var(--golden-color);
}
nav.navbar .nav-btn div:hover,header .modal .modal-footer .btn ,section.contact form button:hover {

  background-color: var(--golden-color);
}
/* btn-toggel */
nav.navbar .bg-toggel{
  background-color: var(--golden-color);
}
/* end toggel */

  /* --End Nav---- */

  /* START ABOUT */
  section.About{
    height: 100vh;
  }
  section.About .about-bg {
    background-color:var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width:573px) {
    section.About .image {
      width: 50%;
      margin: auto;
    }
  }
  section.About .about-bg  .links .social svg{
    width: 25px;
    height: 25px;
    transition: .2s;
    color: var(--black-color);
}
  section.About .about-bg .links .social svg:hover{
    color: var(--golden-color);
    cursor: pointer;
    width: 25px;
  }
  section.About .about-bg .links p{
    font-size: 20px;
  }
  /* --End ABOUT--- */

  /*  START services*/

  section.service .cards .card{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  section.service .cards .card .header{
    width: 120px;
    height: 120px;
  }

  /*  End services*/

  /* START CAtegoryy */
  section.Category ,section.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.Category a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    font-size: 18px;
    transition: .2s;
    
  }
  section.Category a:hover{
    color: var(--golden-color);
  }

  /*  */
  section.Category .card {
    width: 100%;
    height: 100%;
    min-height: 260px;
    background: var(--grey-color);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  section.Category .card-h2 {
    z-index: 1;
    /* color: white; */
    /* font-size: 2em; */
  }
  
  section.Category .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #AD844B, #212529);
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  section.Category .card::after {
    content: '';
    position: absolute;
    background-image:url('../images/POSTER.png');
    background-repeat: no-repeat;
    background-size: cover;
    inset: 5px;
    border-radius: 15px;
  }  
  
  /*  */
  /* End CAtegoryy */

  /* AllProduct */

  .card {
    width: 100%;
    height: 100%;
    min-height: 285px;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
    padding-bottom: 1rem;
}
  
  .img {
    height: 20%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
  
  }

  .textBox {

    width: 100%;
    transition: 0.2s ease-in-out;
}
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    font-size: 20px;
  }
  
  .textBox > .price {
    font-size: 17px;
  }
  
  .textBox > span {
    font-size: 12px;
    color: lightgrey;
  }
  .card:hover > .textBox {
    opacity: 1;
  }
  
  .card:hover > .img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .card:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  /* -------------- */
  div.cartButtonContainer button.cartButton {
    --color: #fff;
    font-family: inherit;
    display: inline-block;
    width: 7rem;
    height: 3rem;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--golden-color);
    background-color: #000000;
    transition: color 0.5s;
    z-index: 3;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    padding: 0;
}
  
  div.cartButtonContainer button.cartButton {
    content: "";
    position: absolute;
    z-index: 1;
    background: var(--golden-color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  div.cartButtonContainer button.cartButton {
    color: #fff;
  }
  div.cartButtonContainer button.cartButton  {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  div.cartButtonContainer button.cartButton  {
    top: 200px;
    left: 30px;
  }
  div.cartButtonContainer button.cartButton {
    border: 2px solid var(--golden-color);
      background: var(--golden-color);
      transition: background 0s;
  }
  /*---------  */
  .cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #AD844B, #AD844B);
    color: ghostwhite;
    overflow: hidden;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }  
  /* <!-- Demo styles --> */
/* Start TopProducts */
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
    /* End TopProducts */
    
/*-------------  */
  /* --Start ContactUs-- */
  section.contact{
    background-color:var(--grey-color);
  }
  section.contact{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  section.contact .row form .bg-input{
    background:rgba(255, 255, 255, 0.2);
    border: var(--grey-color) 1px solid;
    outline: none ;
    border: none;
  }
  .form-control:focus{
    box-shadow: none;
  }
  section.contact .row .drapo .titre{
  font-size: 20px;
  margin-bottom: .7rem;
}

section.contact form button {
  background-color: var(--golden-color);
  border-radius: 25px;
  padding: .5rem 3rem ;
  color: var(--white-color);
  border: 1px solid var(--golden-color);
}
  /* --End ContactUs-- */

  /* ------Panier------ */

  /* @media (min-width: 1025px) {
    .h-custom {
        height: calc(100vh - 74px) !important;
    }
} */

section.cart {
  background-color: var(--grey-color);
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
/* .card-registration .select-arrow {
    top: 13px;
} */
div.card-body div h6 a{
  text-decoration: none;
  color: var(--white-color);
}
div.card-body div h6 a:hover ,div.card-body div h6 a i:hover{
  color: #AD844B;
}
div.cart section.cart .bg-grey {
    background-color: rgba(12, 0, 0, 0.2);
    height: fit-content;
}
div.card-body form button.delete-btn{
  color: var(--white-color);
  background-color:var(--black-color);
  border: 2px solid var(--golden-color);
}
div.card-body form button.delete-btn:hover{
  background-color: var(--golden-color);
  outline: none;
  border: 0;
}

/* Cart -------  button */
/* cats btn */

div.summary button.cartButton  {
  --color: #fff;
  font-family: inherit;
  display: inline-block;
  width: 7rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--golden-color);
  background-color: #000000;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  padding: 0;
}
div.summary button.cartButton:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--golden-color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
div.summary button.cartButton:hover  {
  color: #fff;
}
div.summary button.cartButton:before  {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
div.summary button.cartButton:hover:before  {
  top: -30px;
  left: -30px;
}
div.summary button.cartButton:active:before  {
  border: 2px solid var(--golden-color);
    background: var(--golden-color);
    transition: background 0s;
}
/*  */
button.cartButton {
    --color: #fff;
    font-family: inherit;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--golden-color);
    background-color: #000000;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    padding: 0;
}

button.cartButton:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--golden-color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button.cartButton:hover {
    color: #fff;
}

button.cartButton:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button.cartButton:hover:before {
    top: -30px;
    left: -30px;
}

button.cartButton:active:before {
  border: 2px solid var(--golden-color);
    background: var(--golden-color);
    transition: background 0s;
}

  /* --------------------- */
/* End Cart */



  /* Start footer */

  footer.footer ul.links li{
    list-style: none;
  }
  footer.footer ul.links li a{
    text-decoration: none;
    font-weight: 700;
    transition: .2s;
}
  footer.footer ul.links li a:hover{
    color: var(--white-color);
    font-size: 17px;

  }
  footer.footer .links .social svg{
    margin-left:.5rem ;
    width: 25px;
    height: 25px;
    transition: .2s;
}
  footer.footer .links .social svg:hover{
    color: var(--golden-color);
    cursor: pointer;
    width: 25px;
  }
  footer.footer  div.hr{
    height: 0.01rem;
    width: 100%;
    background-color:var(--grey-color);
  }
  /* End footer */

/* Login  */
.lg{
    background-color: white;
    height: 70vh;
    width: 70%;
    margin: auto;
    box-shadow: 1px 7px 20px hsl(0, 0%, 65%)

}

.lg .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 75%; */
}

.lg .form input{
    width: 100%;
    /* margin: auto; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.lg .form h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

.lg .imgLg{
    width: 100%;
    height:100% ;
    background-image:url('../images/gaming.jpg') ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.lg p.text{
    font-weight: 500;
}
/* END--LOgin */

/* Sign Up */

.row.SIGN{
    width: 60%;
    border-radius: 25px;
    padding: 1.5rem;
    margin: auto;
    background-color: white;
    box-shadow: 1px 7px 20px hsl(0, 0%, 65%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
input.sign{
    width: 100%;
    /* margin: auto; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}
/* End Sign */



/*  Start Section1 */
section.section1{

  height: calc(100vh - 56px);

}

/* End Section1 */


  